
.color-red{
    color: #D00000;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.big-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
}

.mid-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #D00000;
    
}

/* NAVBAR */

.my-navbar {
    background-color: rgba(255, 251, 251, 0.775);
    /* background: linear-gradient(120deg, #D00000, #DC2F02, #E85D04, #FEC601, #EA7317); */
    box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 68px;
    
}

.my-navbar a{
    
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.3rem;
    transition: 0.5s;
    margin-left: 10px;
}

.my-navbar a:hover{
    color: rgb(212, 66, 3);
}

.my-navbar i{
    color: #D00000;
    transition: 1s;
}

.my-navbar i:hover{
    color: #000000;
}

/* REGISTER PAGE */

.btn-register{
    display: inline-block;
    color: white;
    padding: 8px 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-transform: uppercase;
    background: linear-gradient(120deg, #D00000, #DC2F02, #E85D04, #FEC601, #EA7317);
    background-size: 250%;
    background-position: 0px 0px;
    
}

.btn-register:hover {
    background-position: 80% 0px;
    transition: 0.5s;
}

.register-form {
    border: 1px solid rgb(216, 216, 216, 0.5);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 13px 1px #bfbfbf;
}

.form-label{
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 500;
}

/* UTENTI PAGE */

.card-1 {
    /* position: relative; */
    /* width: 300px; */
    /* height: 470px; */
    border: 0.3px solid #eeeded;
    border-radius: 15px;
    transition: all 1s;
    padding: 20px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.045);
    
}

.card-1:hover {
    transition: all 0.2s;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
}

.card-title{
    font-family: 'Ubuntu', sans-serif;
}

.card-text{
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 500;
}


